@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

mark {
  background: rgba(0, 0, 0, 0);
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  padding: 95px 0 0 0;
  font-family: Inter;
  font-size: 1.14rem;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 95px;
          flex: 0 1 95px;
  padding: 0 10px;
  background: #fff;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu {
  display: none;
}
@media (max-width: 890px) {
  .header__menu {
    display: block;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (max-width: 890px) {
  .header__phone-number {
    display: none;
  }
}
.header__wrapper-phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__image-phone-number {
  margin: 0 10px 0 0;
}
.header__title-phone-number {
  margin: 0 0 5px 0;
}
@media (max-width: 890px) {
  .header__email-address {
    display: none;
  }
}
.header__wrapper-email-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__image-email-address {
  margin: 0 10px 0 0;
}
.header__title-email-address {
  margin: 0 0 5px 0;
}
@media (max-width: 890px) {
  .header__social-network {
    display: none;
  }
}
.header .menu__body {
  -webkit-transition: 0.4s all ease 0s;
  transition: 0.4s all ease 0s;
}
@media (max-width: 890px) {
  .header .menu__body {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed;
    background: #5B5B5B;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 112px 0 0 0;
    overflow: auto;
  }
}
@media (max-width: 890px) {
  .header .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    cursor: pointer;
    left: 15px;
  }
}
@media (max-width: 890px) {
  .header .menu__icon span {
    left: 0;
    top: 54%;
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    position: absolute;
    height: 3px;
    width: 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000;
  }
}
@media (max-width: 890px) {
  .header .menu__icon::after {
    content: "";
    left: 0;
    position: absolute;
    height: 3px;
    width: 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000;
    top: 0;
  }
}
@media (max-width: 890px) {
  .header .menu__icon::before {
    content: "";
    left: 0;
    position: absolute;
    height: 3px;
    width: 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000;
    bottom: 0;
  }
}
.header .menu__list {
  margin: 0 0 20px 0;
}
.header .menu__list > li {
  padding: 0 0 15px 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: PT Serif;
  margin: 0 0 31px;
  border-bottom: 1px solid #FFF;
}
.header .menu__list > li:last-child {
  margin: 0px;
}
.header .menu__support {
  padding: 0 0 15px 15px;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #FFF;
}
.header .menu__title-support {
  color: #E45128;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
.header .menu__text-support {
  color: #fff;
  font-family: PT Serif;
}
.header .menu__email {
  padding: 0 0 15px 15px;
  border-bottom: 1px solid #FFF;
  margin: 0 0 37px 0;
}
.header .menu__title-email {
  color: #E45128;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
.header .menu__text-email {
  color: #fff;
  font-family: PT Serif;
}
.header .menu__social-network {
  padding: 0 0 30px 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.navigation {
  background: #5B5B5B;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  font-family: PT Serif;
  text-transform: uppercase;
  padding: 0 15px;
}
@media (max-width: 890px) {
  .navigation {
    display: none;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 95px;
}
.navigation__link > a {
  color: #fff;
}
.navigation__link > a:hover {
  text-decoration: underline;
}

.home {
  background: url("../img/home/home1.png") 0 0/cover no-repeat;
  padding: 78px 15px 98px 15px;
}
@media (max-width: 620px) {
  .home {
    padding: 40px 15px 50px 15px;
  }
}
.home__info {
  margin: 0 0 136px 0;
}
.home__title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  max-width: 860px;
  text-transform: uppercase;
  margin: 0 0 42px 0;
}
@media (max-width: 1170px) {
  .home__title {
    font-size: calc(30px + 12 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 620px) {
  .home__title {
    text-align: center;
    line-height: 41px;
  }
}
.home__text-info {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 52px;
  text-transform: uppercase;
}
@media (max-width: 1170px) {
  .home__text-info {
    font-size: calc(18px + 8 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 620px) {
  .home__text-info {
    text-align: center;
    line-height: 36px;
  }
}
.home__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 720px) {
  .home__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.home__length {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42.4px;
  color: #BD1515;
  text-transform: uppercase;
}
@media (max-width: 1170px) {
  .home__length {
    font-size: calc(24px + 8 * ((100vw - 320px) / 850));
  }
}
.home__button {
  max-width: 270px;
  color: #BD1515;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  line-height: 37.1px;
  text-align: center;
  max-width: 230px;
  border: 1px solid #BD1515;
  padding: 24px 30px;
}
@media (max-width: 720px) {
  .home__button {
    display: none;
  }
}

.tools {
  background: rgba(197, 197, 197, 0.1);
  padding: 120px 15px 72px;
}
@media (max-width: 1000px) {
  .tools {
    padding: 100px 20px 60px;
  }
}
.tools__title-body {
  position: relative;
}
@media (max-width: 1000px) {
  .tools__title-body {
    margin: 0 0 40px 0 !important;
    text-align: center;
  }
}
.tools__title-body::after {
  position: absolute;
  bottom: 20%;
  right: 0;
  content: "";
  background: #E45128;
  height: 1px;
  width: 32%;
}
@media (max-width: 1170px) {
  .tools__title-body::after {
    width: 31%;
  }
}
@media (max-width: 1140px) {
  .tools__title-body::after {
    width: 30%;
  }
}
@media (max-width: 1120px) {
  .tools__title-body::after {
    width: 29%;
  }
}
@media (max-width: 1090px) {
  .tools__title-body::after {
    width: 28%;
  }
}
@media (max-width: 1070px) {
  .tools__title-body::after {
    width: 27%;
  }
}
@media (max-width: 1050px) {
  .tools__title-body::after {
    width: 26%;
  }
}
@media (max-width: 1030px) {
  .tools__title-body::after {
    width: 25%;
  }
}
@media (max-width: 1010px) {
  .tools__title-body::after {
    width: 23.5%;
  }
}
@media (max-width: 1000px) {
  .tools__title-body::after {
    bottom: -20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50%;
  }
}
.tools__wrapper-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .tools__wrapper-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.tools__image-body {
  position: relative;
  padding: 0 0 30px 0;
  margin: 0 0 107px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  min-height: 245px;
}
@media (max-width: 1000px) {
  .tools__image-body {
    min-height: 400px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 930px) {
  .tools__image-body {
    margin: 0 0 60px 0;
  }
}
.tools__image-body::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: -5%;
  height: 2px;
  width: 85%;
  background: #E45128;
}
@media (max-width: 1000px) {
  .tools__image-body::after {
    bottom: -7%;
  }
}
.tools__image-body img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.tools__list-body {
  padding: 20px 0 0 0;
}
@media (max-width: 1000px) {
  .tools__list-body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 660px) {
  .tools__list-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.tools__list-body > li {
  margin: 0 0 32px 0;
  text-transform: uppercase;
  position: relative;
  line-height: 20px;
}
@media (max-width: 1000px) {
  .tools__list-body > li {
    padding: 0 0 0 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 400px;
  }
}
@media (max-width: 760px) {
  .tools__list-body > li {
    max-width: 300px;
  }
}
@media (max-width: 660px) {
  .tools__list-body > li {
    max-width: 80%;
  }
}
.tools__list-body > li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  top: 20%;
  left: -7%;
  background: #E45128;
}
@media (max-width: 1000px) {
  .tools__list-body > li::before {
    left: 0;
  }
}
@media (min-width: 1001px) {
  .tools__list-body > li:last-child {
    margin: 0;
  }
}
.tools__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tools__info-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
  margin: 0 60px 47px 0;
}
@media (max-width: 1100px) {
  .tools__info-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 730px) {
  .tools__info-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.tools__info-card > img {
  margin: 0 0 36px 0;
}
@media (max-width: 730px) {
  .tools__info-card:first-child {
    margin: 0 0 47px 0;
  }
}
@media (max-width: 1100px) {
  .tools__info-card:nth-child(2) {
    margin: 0 0 47px 0;
  }
}
.tools__info-card:nth-child(3) {
  margin: 0 0 47px 0;
}
@media (max-width: 1100px) {
  .tools__info-card:nth-child(3) {
    margin: 0 50px 47px 0;
  }
}
@media (max-width: 730px) {
  .tools__info-card:nth-child(3) {
    margin: 0 0 47px 0;
  }
}
.tools__info-card:nth-child(4) {
  margin: 0 50px 0 0;
}
@media (max-width: 1100px) {
  .tools__info-card:nth-child(4) {
    margin: 0 0 47px 0;
  }
}
.tools__info-card:last-child {
  margin: 0;
}
.tools__text-info-card {
  text-align: center;
  line-height: 22px;
}
.tools__text-info-card > mark {
  font-weight: 900;
}

.about {
  padding: 120px 15px;
}
@media (max-width: 800px) {
  .about {
    padding: 60px 15px 0;
  }
}
@media (max-width: 400px) {
  .about {
    padding: 60px 15px;
  }
}
.about__title {
  position: relative;
}
@media (max-width: 800px) {
  .about__title {
    text-align: center;
  }
}
@media (max-width: 690px) {
  .about__title {
    margin: 0 0 40px 0 !important;
  }
}
.about__title::after {
  content: "";
  height: 1px;
  width: 71%;
  height: 1px;
  background: #E45128;
  bottom: 20%;
  right: 0;
  position: absolute;
}
@media (max-width: 1150px) {
  .about__title::after {
    width: 69%;
  }
}
@media (max-width: 1050px) {
  .about__title::after {
    width: 67%;
  }
}
@media (max-width: 990px) {
  .about__title::after {
    width: 65.5%;
  }
}
@media (max-width: 940px) {
  .about__title::after {
    width: 64%;
  }
}
@media (max-width: 900px) {
  .about__title::after {
    width: 63%;
  }
}
@media (max-width: 850px) {
  .about__title::after {
    width: 61%;
  }
}
@media (max-width: 800px) {
  .about__title::after {
    bottom: -20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50%;
  }
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 125px 0;
}
@media (max-width: 920px) {
  .about__wrapper {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 800px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about__text {
  max-width: 700px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
@media (max-width: 1001px) {
  .about__text {
    max-width: 600px;
  }
}
@media (max-width: 1000px) {
  .about__text {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 930px) {
  .about__text {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .about__text {
    text-align: center;
    max-width: 100%;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 800px) {
  .about__info {
    margin: 0 -20px 0 0;
  }
}
.about__logo {
  display: block;
  margin: 0 0 37px 0;
}
@media (max-width: 800px) {
  .about__logo {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 930px) {
  .about__button {
    padding: 16px 20px !important;
  }
}
.about__video {
  position: relative;
  padding: 0 0 95% 0;
}
.about__video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 800px) {
  .about__video img {
    width: 80%;
    height: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 400px) {
  .about__video img {
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.reviews {
  padding: 90px 15px 50px;
  background: #5B5B5B;
}
@media (max-width: 800px) {
  .reviews {
    padding: 60px 15px 50px;
  }
}
@media (max-width: 750px) {
  .reviews {
    padding: 0 15px 60px;
  }
}
.reviews__title {
  text-align: center;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #fff;
  margin: 0 0 50px 0;
}
@media (max-width: 750px) {
  .reviews__title {
    font-size: 25px;
    margin: 50px;
    line-height: 42px;
  }
}
@media (max-width: 750px) and (max-width: 1170px) {
  .reviews__title {
    margin: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}

.reviews > .container {
  overflow: hidden;
}

.swiper-container {
  position: relative !important;
}

.swiper-wrapper {
  padding: 30px 0 70px 0;
}

.swiper-slide {
  background: #EAEAEA;
  padding: 32px 61px 24px;
}

.swiper-bottom {
  margin: 0 0 25px 0;
  position: relative;
}
.swiper-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #E45128;
}

.swiper-title {
  margin: 0 0 27px 0;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.swiper-text {
  padding: 0 0 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.swiper-data {
  font-family: PT Sans;
  font-weight: 700;
  line-height: 21px;
}

.swiper-pagination-bullet {
  background: #C4C4C4 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #E45128 !important;
}

.gallery {
  padding: 74px 15px 0;
  background: #5B5B5B;
}
@media (max-width: 750px) {
  .gallery {
    padding: 40px 15px 0;
  }
}
.gallery__title {
  text-align: center;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #fff;
  margin: 0 0 50px 0;
}
@media (max-width: 750px) {
  .gallery__title {
    font-size: 25px;
    margin: 50px;
    line-height: 42px;
  }
}
@media (max-width: 750px) and (max-width: 1170px) {
  .gallery__title {
    margin: calc(30px + 20 * ((100vw - 320px) / 850));
  }
}
.gallery .swiper > .swiper-wrapper > .swiper-slide {
  background: #5B5B5B;
  padding: 0;
  opacity: 0.3;
}
.gallery .swiper > .swiper-wrapper > .swiper-slide-active {
  opacity: 0.3;
}
.gallery .swiper-slide {
  position: relative;
}
.gallery .swiper > .swiper-wrapper > .swiper-slide-next {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  opacity: 1 !important;
  position: relative;
  z-index: 3;
}
.gallery .image-slide {
  text-align: center;
  position: relative;
  padding: 0 0 60% 0;
}
.gallery .image-slide img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .swiper-button-prev {
  background: #E45128;
  left: 10% !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 70px;
  height: 50px;
  border-radius: 30%;
  width: 70px !important;
}
@media (max-width: 570px) {
  .gallery .swiper-button-prev {
    top: 40% !important;
  }
}
@media (max-width: 530px) {
  .gallery .swiper-button-prev {
    left: 5% !important;
  }
}
.gallery .swiper-button-prev::after {
  content: "" !important;
}
.gallery .swiper-button-next {
  background: #E45128;
  right: 10% !important;
  width: 70px !important;
  height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 30%;
}
@media (max-width: 570px) {
  .gallery .swiper-button-next {
    top: 40% !important;
  }
}
@media (max-width: 530px) {
  .gallery .swiper-button-next {
    right: 5% !important;
  }
}
.gallery .swiper-button-next:after {
  content: "" !important;
}

.gain {
  padding: 90px 15px 120px;
}
@media (max-width: 800px) {
  .gain {
    padding: 40px 15px 120px;
  }
}
.gain__title {
  position: relative;
}
@media (max-width: 1110px) {
  .gain__title {
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .gain__title {
    margin: 0 0 60px 0 !important;
  }
}
.gain__title::after {
  position: absolute;
  background: #E45128;
  height: 1px;
  width: 19%;
  bottom: 20%;
  right: 0;
  content: "";
}
@media (max-width: 1185px) {
  .gain__title::after {
    width: 18%;
  }
}
@media (max-width: 1165px) {
  .gain__title::after {
    width: 17%;
  }
}
@media (max-width: 1145px) {
  .gain__title::after {
    width: 16%;
  }
}
@media (max-width: 1125px) {
  .gain__title::after {
    width: 15%;
  }
}
@media (max-width: 1110px) {
  .gain__title::after {
    bottom: -20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50%;
  }
}
.gain__sub-title {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 49px 0;
}
.gain__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 660px) {
  .gain__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.gain__title-info {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 36px 0;
}
@media (max-width: 660px) {
  .gain__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.gain__list > li {
  padding: 0 0 0 30px;
  margin: 0 0 40px 0;
  position: relative;
}
@media (max-width: 660px) {
  .gain__list > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.gain__list > li::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 10%;
  height: 2px;
  background: #E45128;
}
@media (max-width: 660px) {
  .gain__list > li::before {
    width: 8%;
  }
}
.gain__sub-title-info {
  margin: 0 0 54px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.3px;
}
.gain__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  min-height: 450px;
}
.gain__image::after {
  position: absolute;
  width: 90%;
  height: 3px;
  bottom: 0;
  right: 0;
  background: #E45128;
  content: "";
}
.gain__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: -3%;
  left: 0;
}

.contacts {
  padding: 0 15px 120px;
}
@media (max-width: 700px) {
  .contacts {
    padding: 0 15px 30px;
  }
}
.contacts__title {
  position: relative;
  margin: 0 0 62px 0 !important;
}
@media (max-width: 800px) {
  .contacts__title {
    text-align: center;
  }
}
.contacts__title::after {
  position: absolute;
  bottom: 20%;
  right: 0;
  width: 73%;
  height: 1px;
  background: #E45128;
  content: "";
}
@media (max-width: 1150px) {
  .contacts__title::after {
    width: 71.5%;
  }
}
@media (max-width: 1050px) {
  .contacts__title::after {
    width: 70%;
  }
}
@media (max-width: 990px) {
  .contacts__title::after {
    width: 69%;
  }
}
@media (max-width: 940px) {
  .contacts__title::after {
    width: 68%;
  }
}
@media (max-width: 900px) {
  .contacts__title::after {
    width: 66.5%;
  }
}
@media (max-width: 850px) {
  .contacts__title::after {
    width: 64.5%;
  }
}
@media (max-width: 800px) {
  .contacts__title::after {
    bottom: -20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50%;
  }
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 820px) {
  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 90px 0 0;
}
@media (max-width: 1000px) {
  .contacts__info {
    margin: 0 40px 0 0;
  }
}
@media (max-width: 820px) {
  .contacts__info {
    margin: 0 0 40px 0;
  }
}
.contacts__text {
  margin: 0 0 52px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.contacts__block-info {
  padding: 50px 37px 0;
  border: 1px solid #EBEBEB;
  outline: 1px solid #F2F2f2;
}
@media (max-width: 900px) {
  .contacts__block-info {
    padding: 30px 20px 0;
  }
}
.contacts__wrapper-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 35px 0;
}
.contacts__wrapper-address > img {
  margin: 0 18px 0 0;
}
.contacts__text-address {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.contacts__wrapper-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 35px 0;
}
.contacts__wrapper-number > img {
  margin: 0 18px 0 0;
}
.contacts__wrapper-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 35px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__wrapper-email > img {
  margin: 0 18px 0 0;
}
.contacts__wrapper-timing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 35px 0;
}
.contacts__wrapper-timing > img {
  margin: 0 18px 0 0;
}
.contacts__text-timing {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 15rem;
}
@media (max-width: 900px) {
  .contacts__text-timing {
    max-width: 20rem;
  }
}
.contacts__wrapper-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 35px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__wrapper-whatsapp > img {
  margin: 0 18px 0 0;
}
.contacts__form {
  padding: 51px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EBEBEB;
  outline: 1px solid #F2F2f2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.contacts__title-form {
  font-family: PT Serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  color: #2E3444;
  font-weight: 700;
  margin: 0 0 47px 0;
}
@media (max-width: 1170px) {
  .contacts__title-form {
    font-size: calc(17px + 3 * ((100vw - 320px) / 850));
  }
}
.contacts__input-name {
  padding: 14px 20px;
  display: block;
  border: 1px solid #EBEBEB;
  outline: 1px solid #F2F2f2;
  margin: 0 0 20px 0;
  width: 150%;
  -webkit-transform: translateX(-17%);
          transform: translateX(-17%);
}
@media (max-width: 440px) {
  .contacts__input-name {
    width: 120%;
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}
.contacts__input-name:focus {
  -webkit-box-shadow: 5px 5px 10px #c4c4c4;
          box-shadow: 5px 5px 10px #c4c4c4;
}
.contacts__input-number {
  display: block;
  padding: 14px 20px;
  border: 1px solid #EBEBEB;
  outline: 1px solid #F2F2f2;
  margin: 0 0 20px 0;
  width: 150%;
  -webkit-transform: translateX(-17%);
          transform: translateX(-17%);
}
@media (max-width: 440px) {
  .contacts__input-number {
    width: 120%;
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}
.contacts__input-number:focus {
  -webkit-box-shadow: 5px 5px 10px #c4c4c4;
          box-shadow: 5px 5px 10px #c4c4c4;
}
.contacts__input-email {
  display: block;
  padding: 14px 20px;
  border: 1px solid #EBEBEB;
  outline: 1px solid #F2F2f2;
  margin: 0 0 20px 0;
  width: 150%;
  -webkit-transform: translateX(-17%);
          transform: translateX(-17%);
}
@media (max-width: 440px) {
  .contacts__input-email {
    width: 120%;
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}
.contacts__input-email:focus {
  -webkit-box-shadow: 5px 5px 10px #c4c4c4;
          box-shadow: 5px 5px 10px #c4c4c4;
}
.contacts__input-comments {
  display: block;
  padding: 14px 20px;
  border: 1px solid #EBEBEB;
  outline: 1px solid #F2F2f2;
  margin: 0 0 35px 0;
  width: 150%;
  -webkit-transform: translateX(-17%);
          transform: translateX(-17%);
}
@media (max-width: 440px) {
  .contacts__input-comments {
    width: 120%;
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}
.contacts__input-comments:focus {
  -webkit-box-shadow: 5px 5px 10px #c4c4c4;
          box-shadow: 5px 5px 10px #c4c4c4;
}
.contacts__input-file {
  display: none;
}
.contacts label {
  display: block;
  background: #5B5B5B;
  color: #fff;
  font-family: PT Serif;
  font-weight: 700;
  line-height: 19px;
  padding: 7px 7px;
  width: 62%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  margin: 0 0 40px 0;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media (max-width: 440px) {
  .contacts label {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}
.contacts label:hover {
  background: #c4c4c4;
}
.contacts__button {
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
  width: 120%;
}

.footer {
  padding: 70px 10px 0;
  background: #5B5B5B;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 490px;
          flex: 0 1 490px;
  color: #fff;
  font-family: PT Serif;
  text-transform: uppercase;
  line-height: 19px;
}
@media (max-width: 700px) {
  .footer {
    display: none;
  }
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer__wrapper::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #C4C4C4;
  bottom: 7%;
  left: 0;
}
.footer__logo {
  display: inline-block;
  margin: 0 0 33px 0;
}
.footer__support {
  margin: 0 0 45px 0;
}
.footer__title-support {
  margin: 0 0 10px 0;
  color: #E45128;
}
.footer__email {
  margin: 0 0 105px 0;
}
.footer__title-email {
  margin: 0 0 10px 0;
  color: #E45128;
  font-size: 18px;
}
.footer__text-email {
  text-transform: lowercase;
}
.footer__title-navigation {
  color: #E45128;
  margin: 0 0 27px 0;
  font-size: 18px;
}
.footer__list-navigation > li {
  margin: 0 0 13px 0;
}
.footer__list-navigation > li:hover {
  text-decoration: underline;
}
.footer__list-navigation > li > a {
  color: #fff;
}
.footer__title-social-networks {
  color: #E45128;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 55px 0;
}
.footer__wrapper-bottom {
  min-height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__politics-bottom {
  font-size: 12px;
}

.title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #5B5B5B;
  text-transform: uppercase;
  margin: 0 0 90px 0;
}
@media (max-width: 1170px) {
  .title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .title {
    line-height: calc(32px + 10 * ((100vw - 320px) / 850));
  }
}

.button {
  color: #fff;
  padding: 16px 30px;
  background: linear-gradient(45deg, #E45128, #BD1515);
  font-family: PT Serif;
  border-radius: 5px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.button:hover {
  background: linear-gradient(45deg, #BD1515, #faa);
}

/*******************************************/
body.active body {
  overflow: hidden;
}

body.active .menu__body {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body.active .menu__icon::before {
  background: #fff;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  bottom: 7px;
}

body.active .menu__icon::after {
  display: none;
}

body.active .menu__icon > span {
  background: #fff;
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
}

/*******************************************/